* {
    box-sizing: border-box;
    margin-bottom: 0;
}

body {
    background-color: rgb(251, 229, 214);
}

h2, p, li, a {
    font-family: Calibri;
    margin: 0;
}

.blue-background {
    background-color: rgb(157, 195, 230);
}

.wrapper {
    margin: 0px auto;
    width: 984px;
}

/*-------------------------------------------------*/

.header {
    position: relative;
}

.header img {
    display: block;
    margin: auto;
    width: 372px;
    height: 230px;
}

.nav-bar {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
}

.nav-bar li {
    display: inline;
    font-weight: bold;
    font-size: 23px;
}

.header a {
    position: absolute;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    top: 101px;
}

.about {
    left: 108px;
}

.contact {
    left: 220px;
}

.menu {
    right: 243px;
}

.orders {
    right: 125px;
}

.gallery {
    right: 0px;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    list-style: none;
}

.hvr-change-color:hover {
    color: rgb(58, 183, 169);
}

/*------------------------------------------CONTENT　HERE--------------------------------------------------------------------------*/

.category-container {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.category-item {
    margin-top: 40px;
    float: left;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(251, 229, 214);
    background-color: rgb(58, 183, 169);
    color: white;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.block-container {
    display: block;
    height: 986px;
    margin-bottom: 40px;
}

.product {
    float: left;
    padding: 2px;
    width: 20%;
    transition: all 0.4s ease-in-out;
}

.hide {
    transform: scale(0);
    width: 0;
    padding: 0;
    transition: all 0.4s ease-in-out;
}

.buffer {
    margin-bottom: 100px;
}

.clear {
    clear: left;
}

/* Border Fade */
.hvr-border-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }
  .hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
    box-shadow: inset 0 0 0 4px #2098D1, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }

/* ----------------------------------------------------------------------------------------------------------------------------- */

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 25px;
}

.location, .opening-hours, .social-media, .contact {
    font-family: Calibri;
    display: inline-block;
    width: 124px;
}

.social-media {
    width: 77px;
}

.location{
    justify-self: right;
    margin-right: 14px;
}

.opening-hours {
    justify-self: center;
    margin-left: 50px;
    margin-right: 14px;
}

.social-media {
    justify-self: center;
    margin-right: 34px;
}

.contact{
    justify-self: left;
    margin-right: 14px;
}

.page-end {
    grid-column: 1/4;
}

.h-line {
    height: 1px;
    width: 984px;
    background-color: rgb(251, 229, 214);
}

.copyright {
    width: 984px;
    text-align: center;
    font-weight: bold;
    margin-top: 12px;
} 